footer
  .container.text-center
    p.pull-left © 2016 Water Drop
    ul.pull-right.list-inline
      li
        a(href='http://gocode.colorado.gov/') Go Code CO 2016
      li
        a(href='https://github.com/MikeLockz/water-drop/') GitHub
