extends layout

block content
  h1 Water Drop
  p.lead Water Rights made easier
  hr
  .row
    .col-sm-6
      h2 Sell
      p Make money selling or leasing water
    .col-sm-6
      h2 Buy
      p Acquire permanent and temporary water
    .col-sm-6
      h2 Research
      p Examine historical water availability and usage
    .col-sm-6
      h2 Environment
      p Promote efficient use of water